.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/
.pytest_cache/
.cache/
.coverage
.mypy_cache/
.python-version

.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/

.env
*.env

logs/
*.log
